<h3>
  <%= @article.title %>
</h3>

<p>
  by: <%= @article.author %>
</p>

<p>
  <%= @article.body %>
</p>
<p><%= link_to "Back", articles_path %></p>
<p><%= link_to "Trash It", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %></p>
